/IMCWeb/nbproject/private/
/IMCWeb/build/
/Exercicio1/nbproject/private/
/Exercicio1/build/
/Exercicio1/dist/
/Projeto WebDespesas/WebDespesas/nbproject/private/
/Projeto WebDespesas/WebDespesas/build/
/Projeto WebDespesas/WebDespesas/dist/
/WebTeste/WebTeste/nbproject/private/
/WebTeste/WebTeste/build/